---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: mentoring
  namespace: mentoring-prod
  labels:
    app: mentoring
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/chart-image: regex:^([0-9]+.[0-9]+.[0-9]+)$
spec:
  releaseName: mentoring
  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: mentoring
    version: "0.2.0"
  values:
    postgresql:
      enabled: false
    externalSecrets:
      enabled: true
      secretName: /prod/mentoring
    image:
      repository: 783633885093.dkr.ecr.us-west-2.amazonaws.com/mentoring
      tag: 0.1.4
