---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: refractr
  namespace: refractr-prod
  labels:
    app: refractr
  annotations:
    fluxcd.io/automated: "true"
    filter.fluxcd.io/chart-image: regex:^(v[0-9]+.[0-9]+.[0-9]+)$
spec:
  releaseName: refractr
  chart:
    repository: https://mozilla-it.github.io/helm-charts/
    name: refractr
    version: "1.0.7"
  values:
    issuer: prod
    environment: prod
    refractr:
      deployment_name: refractr
    image:
      repository: 783633885093.dkr.ecr.us-west-2.amazonaws.com/refractr
      tag: v0.0.10
